body {
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1em;
  font-family: verdana;
  text-align: center;
  color: #000000; }
  body .active {
    display: block; }
  body .hidden {
    display: none; }
  body #commenttext h2 {
    font-style: bold; }
  body #commenttext ul {
    text-align: left; }
  body #trailapi {
    font-size: 0.75em; }
